* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: inconsolata;
    src: url(./Fuentes/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: oswald;
    src: url(./Fuentes/Oswald-VariableFont_wght.ttf);
}

.encabezado_1_logo {
    display: none;
}
a {
    text-decoration: none;
    color:inherit;
}

.encabezado_1 {
    background-color: black;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 6px;
    width: 100%;
    height: 3rem;
    align-items: center;
    gap: 1rem;
}

header section p {
    color: azure;
    display: flex;
    flex: auto;
    font-family: inconsolata;
    font-weight: normal;
    font-size: 1.2rem;
    margin-left: 3rem;
}

.iconos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 2rem;
    
}

@media (max-width:768px) {
    header section p {
        font-size: 0.8rem;
    }
    .encabezado_1_logo {
        display: none;
    }
}

@media (max-width:375px) {
    header section p {
        display: none;
    }
    .iconos {
        height: 3px;
        align-items: center;
        display: flex;
        margin-right: 0;

    }
    .encabezado_1 {
        display: flex;
        flex-direction: row;
        gap: 6rem;
   
    }
    .encabezado_1_logo {
        display: flex;
    }
    
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 3rem;
    padding: 3rem;
}

.m_h_ñ {
    list-style: none;

}

.m_h_ñ_a {
    text-decoration: none;
    font-family: oswald;
    color: black;
    font-size: 1.25rem;
}

.m_h_ñ_a::after {
    content: "∨";
}

.logo {
    height: 6rem;
}



#buscador {
    display: flex;
    width: 25%;
    border-radius: 20px;
    background-color: #ebe6df;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    
}

#buscador input {
    outline: none;
    background-color: transparent;
    font-weight: bolder;
    width: 80%;
    padding-left: 1rem;
    height: 2rem;
    border: none;

}

.lupa {
    width: 1.5rem;
}
.lupa_media {
    display: none;
}

@media (max-width:768px) {
    .m_h_ñ_a {
        font-size: 1rem;
    }
    .opciones {
        gap: 2rem;
        padding: 2rem;
    }
}
@media (max-width:520px) {
    #buscador {
        display: none;
    }
    .lupa_media {
        display: block;
        margin-right: 2rem;
    }
}
@media (max-width:375px) {
    .logo {
        display: none;
    }
}



.fondo_creatividad {
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.creatividad {
    display: flex;
    width: 50%;
    height: 30rem;

}

.foto_carrusel {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.foto_carrusel:hover {
    cursor: crosshair;
    width: 50%;
    opacity: 1;
    filter: contrast(120%);
}

.texto_creatividad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5%;
    width: 50%;
}

.h1 {
    font-family: oswald;
    font-size: 2.5rem;
    font-weight: bold;
    color: azure;
}

.h2_1 {
    font-family: inconsolata;
    font-style: italic;
    font-size: 1.5rem;
}

.h2_2 {
    font-family: inconsolata;
    font-style: italic;
    font-size: 1.5rem;

}

.iconos_creatividad {
    display: flex;
    flex-direction: row;
    gap:3rem;
    justify-content: center;  
}

@media (max-width:768px) {
    .h1 {
        font-size: 1.5rem;
    }
    .h2_1 {
        font-size: 1rem;
    }
    .h2_2 {
        font-size: 1rem;
    }
    .iconos_creatividad {
        gap:1rem;
    }
    .foto_carrusel:hover {
        cursor: crosshair;
        width: 50%;
        opacity: 1;
        filter: contrast(120%);
    }
}   

@media (max-width:600px) {


    .fondo_creatividad {
        background-color: darkorange;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .creatividad {
        display: flex;
        width: 100%;
        height: 30rem;
    
    }
    .texto_creatividad {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5%;
        width: 100%;
        gap: 2rem;
    }

}

.composición_productos {
    padding: 1rem;
    margin-top: 1.5rem;
}


.top_ventas {
    font-family: oswald;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.productos {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3rem;
    align-content: center;
    grid-gap: 7rem;


}

figure {
    display: block;
    

}
.descripción {
    font-size: 0.85rem;
}

main article section figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

button {
    text-decoration: none;
}

@media (max-width:768px) {
    .productos {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 3rem;
        align-content: center;
        grid-gap: 6rem;
    }
}
@media (max-width:550px) {
    .productos {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3rem;
        align-content: center;
        grid-gap: 6rem;
    }
}

footer {
    background-color: bisque;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;

}

.policy {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-family: inconsolata;
    font-size: 1rem;
}









