* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: inconsolata;
    src: url();
}

header {
    background-color: black;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    width: 100%;
}

header section p {
    color: azure;
    display: flex;
    flex: auto;

}

section ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

